.container
  .user_login_registration_container
    .login-form-wrapper.col-md-4
      .signup_login_form_wrapper
        %h1 Log in
        = form_tag sessions_path, html: {class: "form-horizontal custom-form"} do
          .form-group
            .control-label
              = label_tag :email
            %br/
            = text_field_tag :email, params[:email], class: "form-control"
          .form-group
            .control-label
              = label_tag :password
            %br/
            = password_field_tag :password, "", class: "form-control"
          .form-group
            = submit_tag "Log in"
