%table.table.table-striped.table-hover
  %thead
    %tr
      %th Url ID
      %th Original URL
      %th Short URL
      %th Visit Counts
      %th Visited Users
      %th Actions
  %tbody
    -@short_urls.each do |url|
      %tr
        %td= url.id
        %td= url.original_url
        %td= url.shorty
        %td= url.visit_counts
        %td= link_to "Show Visitors", "", class: "btn btn-primary"
        %td= link_to "Delete", short_urls_path(short_url_id: url.id), :method => :delete, class: "btn btn-danger"
